<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="TygaSoft.SqlServerDAL,TygaSoft.SqlServerDAL"/>
    <add key="RandomCodeLen" value="11"/>
    <add key="RandomQueueLen" value="1000"/>
    <add key="RandomGeneratorFilePath" value="E:\Visual Studio 2010 Workspace\FilesRoot\RandomGenerator"/>

    <!--MSMQ-->
    <add key="MsmqMessaging" value="TygaSoft.MsmqMessaging,TygaSoft.MsmqMessaging" />
    <add key="RandomGeneratorQueue" value=".\private$\randomqueue"/>
    <add key="RandomOrderQueue" value=".\private$\randomorderqueue"/>
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
      </wsHttpBinding>
    </bindings>
    <client>
      
    </client>
  </system.serviceModel>
</configuration>