
ul, ol {
  list-style: none outside none;
}
img {
  border: 0 none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, form, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.mod_figures_preview {
  overflow: hidden;
  position: relative;
  width: 558px;
  height: 120px;
}
.mod_figures-120160 {
  height: 558px;
}
.result-option-preview {
  width: 100%;
}

.mod_figures_preview .figures_btnLeft, .mod_figures_preview .figures_btnRight {
  position: absolute;
  width: 25px;
  height: 44px;
  top: 10px;
  z-index: 39;
  _cursor: pointer;
}
.mod_figures_preview .figures_btnLeft {
  left: 0;
}
.mod_figures_preview .figures_btnRight {
  right: 0;
}
.mod_figures-120160 .figures_btnLeft, .mod_figures-120160 .figures_btnRight {
  top: 60px;
}

.mod_figures_preview .figures_btnLeft a {
  display: block;
  width: 25px;
  height: 44px;
  background: url('Images/p-arrL.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizingMethod="scale",src="/Styles/Images/p-arrL.png");
  _background: 0;
}
.mod_figures_preview .figures_btnLeft a:hover {
  background: url('Images/p-arrL-a.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizingMethod="scale",src="/Styles/Images/p-arrL-a.png");
  _background: 0;
}
.mod_figures_preview .figures_btnRight a {
  display: block;
  width: 25px;
  height: 44px;
  background: url('Images/p-arrR.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizingMethod="scale",src="/Styles/Images/p-arrR.png");
  _background: 0;
}
.mod_figures_preview .figures_btnRight a:hover {
  background: url('Images/p-arrR-a.png') no-repeat;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizingMethod="scale",src="/Styles/Images/p-arrR-a.png");
  _background: 0;
}

.mod_figure li {
  display: inline;
  float: left;
  width: 100%;
  height: 100%;
  margin-left: 26px;
}
.result-option-figure li {
  margin-left: 17px;
}
.mod_figures-120160 .mod_figure li {
  width: 100%;
  height: 100%;
}
.result-option-preview .result-option-figure li {
  width: 100%;
}

.mod_figures-120160 .mod_figure .preview_figure, .mod_figures-120160 .mod_figure .preview_figure img {
  width: 100%;
  height: 100%;
}
.mod_figure .preview_figure {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.result-option-preview .mod_figure .preview_figure, .result-option-preview .mod_figure .preview_figure img {
  width: 100%;
  height: 100%;
}

.mod_figure .preview_figure img {
  width: 100%;
  height: 100%;
}
.result-option-preview .mod_figure .preview_figure, .result-option-preview .mod_figure .preview_figure img {
  width: 100%;
  height: 100%;
}