body {
 background:#FFFFFF; color: #404040;font-family: Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 12px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}

a:link,a:visited,a:hover,a:active {
 text-decoration:none; border:none; color:#5F5F5F;
}

.row {
 height:100% auto; overflow:hidden;
}
.row .rl {
 text-align:right; width:110px; float:left;
}
.row .txt {
 text-align:right; width:207px; float:left;
}
.stxt {
 text-align:right; width:180px; float:left;
}
.w{
 width:1046px;margin:0 auto;
}
.w_container {
 width:886px;margin:0 auto;
}
.pageMain{
 height:100% auto; overflow:hidden;
}

.select_m {
 height:22px;
}
.mt30 {
 margin-top:30px;
}
.mb50 {
margin-bottom:50px;
}

.logo_hkb{
 height:86px; width:200px;
}

.banner_wrap {
 width:100%; overflow:hidden;
}
.banner {
 margin:0 auto; background-repeat: no-repeat;height:389px;min-width:1046px;max-width:1474px;
 _width:expression(this.width > 300 ? "300px" : this.width);
}
.banner .bg_opacity {
 text-align:center; margin-left:26px; width:407px;height:389px;line-height:389px; background:#000000;opacity:0.5;z-index:-1; background:#f00\9; 
 filter:alpha(opacity=50);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";-moz-opacity:0.5;*zoom:1;
}
.nav_curr {
 color:#FFFFFF;font-size:36px;opacity:1;font-weight:bold;
}
.nav_hl .parentTitle {
 font-size:24px; color:#000000; font-weight:600;margin-left:45px;
}
.nav_hl .split {
 font-size:24px; color:#000000;
}
.nav_hl .currTitle {
 font-size:24px; color:#4F709B; font-weight:600;
}

.bg_sl {
 background:url('Images/bg_sl.png') no-repeat;width:26px;height:139px;float:left;
}
.bg_sr {
 background:url('Images/bg_sr.png') no-repeat;width:26px;height:139px;float:right;
}
.nav_hl {
 height:139px;overflow:hidden;float:left;line-height:139px;
}
.page-container {
 z-index:-10;
}

.editorContent {
 overflow:hidden; height:100% auto; clear:both;line-height:30px; padding-bottom:50px;
}
.editorContent img {
 max-width:886px;_width:expression(this.width > 886 ? "886px" : this.width);
}

.h_top{
 font-family:微软雅黑,Microsoft YaHei; padding-top:3px; padding-right: 106px;
}

.h_menu{
  padding-top: 30px;  margin-left: 64px;
}
#shareMenu a.static {
  display: inline-block; padding-left:10px; padding-right:10px;
}
#shareMenu ul.dynamic {
  width: 100%;
}
.shareMenu .hover{
 background:#0468B4;
}
.shareMenu .unhover{
 background:none;
}
.shareMenu .hover>a{
 color:#FFFFFF;
}
.shareMenu .unhover>a{
 color:#5A5A5A;
}
.shareMenu .lisp{
 float:left;height: 34px;line-height: 34px;padding: 0 20px 0 20px;
}
.shareMenu .split{
 font-size:9px; height:9px; overflow:hidden;
}
.shareMenu a {
 color:#5A5A5A; text-decoration:none; font-size:14px; font-weight:700;
}
.shareMenu a.static {
 
}
.shareMenu li.static {
 height:34px; line-height:34px; padding:0 10px 0 10px;
}
.shareMenu ul.dynamic {
 background:#FFFFFF;
}
.shareMenu li.dynamic {
 height:34px; line-height:34px; padding:0 10px 0 10px;
}
.shareMenu ul.static li.static {
 
}
.shareMenu li.dynamic {

}

/*汇凯博资管推荐*/
.rowT {
 width:738px;margin:0 auto;
}
.rowT .row {
 height:40px; background:url('Images/bg_row.png') no-repeat 0 2px; padding-left:34px;
}
.pagination table {
 float:none; margin-right:20px;margin:0 auto;
}
.rowT .pagination-info{
 float:left; margin-left:20px;
}
.rowT #jPager{
 margin-top:10px;
}

.c_t{
 overflow:hidden;height:80px;
}
.c_t h1 {
 float:left; margin-right:20px; font-size:18px;
}
.c_t span {
 float:left;
}
.c_d {
 clear:both;line-height:30px; padding-bottom:50px;
}

/*产品与服务*/
.bg_agreement{
 background-size:100% 100%; background-repeat:no-repeat;overflow:hidden;
}
.agreementBox{
 background-color:#FFFFFF;width:1000px; margin:0 auto; height:100% auto; padding:40px 54px 54px 54px;line-height:26px;
}
.agreementBox .btns{
 width:292px; margin:0 auto; margin-bottom: 20px;
}
.agreementBox .easyui-linkbutton {
 color: #34588B;
}

/*首页*/

.unslider .prev{
  width: 93px;height: 113px; background: url('Images/p-arrL.png') no-repeat;
}
.unslider .prev:hover {
  background: url('Images/p-arrL-a.png') no-repeat;
}
.unslider .next{
 width: 93px;height: 113px; background: url('Images/p-arrR.png') no-repeat;
}
.unslider .next:hover {
  background: url('Images/p-arrR-a.png') no-repeat;
}
.unslider ul img {
  width:100%;background-size:100% 100%;
}
.img_split {
  width:100%; overflow: hidden;position: relative;
}
.img_split .btn_left {
 top:372px;left:0;  position: absolute; width: 93px; height: 113px; z-index: 39;
}
.img_split .btn_right{
 top:372px;right:0;  position: absolute; width: 93px; height: 113px; z-index: 39;
}


.footer {
 background:#4C4C4C; color:#FFFFFF; height:80px; line-height:24px; overflow:hidden; padding:10px;
}
.footer p {
 margin:5px;
}

#login_hkb {
 width:400px; margin:50px auto;
}
.login_btns {
 padding-left:50px;
}
.login_btns .easyui-linkbutton {
 margin-right:24px; color:#35629D;
}
.rbtnList label{
 margin-right:10px; margin-left:5px;
}

#onlineBook {
  width: 600px; margin: 20px auto;
}
#onlineBook .title {
 height:36px; color:#34588B; padding-left:40px;
}
#onlineBook .sl {
 float:left;
}
#onlineBook .btns {
 padding-left:120px;
}
#onlineBook .easyui-linkbutton {
 margin:30px 60px 0 60px; color:#34588B; 
}

#questionList{
 margin-top:20px; margin-bottom:20px;
}
#questionList .row .title{
 color:#41628F; letter-spacing:2px; font-size:14px;
}
#questionList .row .option{
 padding:5px 20px;
}
#questionList .row .option label{
 margin-left:3px; margin-right:24px;
}
#questionList .mt30{
 text-align:center;
}
#questionList .easyui-linkbutton{
 color:#35629D; 
}
#questionList .ul_h li{
 margin-right:20px;
}
#questionList .ul_v li{
 padding:3px 0;
}

/*重写样式*/
.textbox-invalid {
  border-color: #D4D4D4;background-color:#fff;
}
.validatebox-invalid {
  border-color: #D4D4D4; background-color: #fff;
}

/*kindeditor*/

blockquote{
 line-height:30px; padding-left:24px;
}
blockquote p{
 line-height:30px;
}

